/*ADD YOUR OWN CSS HERE ONLY*/

p{
    font-size: 16px !important;
}

.answerRow{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    border-spacing: 15px;
    background-color: white;
}

.quicksearch{
    height: 40px;
    color: #000;
    width: 300px;
    background-color: #fff3b2;
}

.dropdown{
    display: inline-block;
    float: none;
    padding-right: 5px;
}
.btn-default{
    color: #3949ab !important;
}

section{
    background-color: #31708f;
    padding: 20px 0 !important;
}


.btn-primary{
    padding-top: 500px;
}

.navbar-custom{
    padding: 5px !important;
}

.search{
    width: 400px !important;
    display: block;
    margin: 0 auto;

}

header, hr.star-light:after{
    background: #00bcd4 !important;
}


header .intro-text .name{
    font-size: 3.7em !important;
}


/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}



.input-medium {
    color:black;
    position:relative;
    margin: 30px auto;
    height: 33px;
    width: 150px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

.input-medium:focus {
    width: 70%;
}

.searchTitle{
    color: white;
}
