/*ADD YOUR OWN CSS HERE ONLY*/

.quicksearch{
    height: 40px;
    color: #000;
    width: 300px;
    background-color: #fff3b2;
}

.dropdown{
    display: inline-block;
    float: none;
    padding-right: 5px;
}
.btn-default{
    color: #3949ab !important;
}


.btn-primary{
    padding-top: 500px;
}

.navbar-custom{
    padding: 5px !important;
}

.search{
    width: 400px !important;
    display: block;
    margin: 0 auto;

}

header, hr.star-light:after{
    background: #00bcd4 !important;
}


header .intro-text .name{
    font-size: 3.7em !important;
}

.glyphicon {
   font-family:'Glyphicons Halflings' !important;
   // more css comes along here
}