{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Finding Problems</title>

    {# Importing CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'problemfinder/css/custom.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'problemfinder/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'problemfinder/css/freelancer.min.css' %}"/>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <script language="text/javascript">

    </script>

</head>

<body id="page-top" class="index">
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">Finding Problems</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li >
                <!-- Login bar functionality-->
                    {% if user_flag %}

                        <h5><span style="color:#fff">Hello, </span><span style="color:#18BC9C">{{ user_value }}&nbsp&nbsp</span></h5>
                        <li>
                            <form name="logout" action="admin" >
                                <input type="submit"  class="btn" name="logout" value="Admin">
                            </form>
                        </li>
                        <li>
                            <form name="logout" action="" method="get">
                                <input type="submit" class="btn" name="logout" value="Logout">
                            </form>
                        </li>

                        {% else %}
                        <section class="loginform cf">

                        <form name="login" action="" method="post" accept-charset="utf-8">
                            {% csrf_token %}
                          <ul>
                            <input id="username" type="username" name="username" placeholder="Username" required></li>
                            <input id="password" type="password" name="password" placeholder="Password" required></li>
                            <input type="submit" class="btn" value="Login"></li>
                          </ul>
                        </form>
                    </section>
                    {% endif %}
                </li>
            </ul>
        </div>

        <script>
            var user = [document.getElementById("username").value,
              document.getElementById("password").value];
        </script>
    </div>
</nav>


<!-- Dynamic Predictive Search functionality-->
<datalist id="json-datalist">
    {% for tag in tag_list %}
            <option value="{{ tag }}">
    {% endfor %}
    {% for question in question_list %}
        <option value="{{ question.title }}">
    {% endfor %}
</datalist>

<header>
    <div class="container" align="center">
        <div class="row">
            <div class="col-lg">

                <div class="intro-text">
                    <span class="name">Search For Question</span>
                    <hr class="star-light">
                    <span class="skills">Difficulty - Algorithm - Language</span>
                </div>

                <p><br><br></p>

                <form method="get" action="search" >
                    LANGUAGE: &nbsp
                           <select id="dLanguages" name = "language" required>
                                <option selected="selected" disabled="disabled">Select a Language</option>

                        {% for entry in languages %}
                            <option value="{{ entry }}">{{ entry }}</option>
                        {% endfor %}
                    </select>

                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp DIFFICULTY: &nbsp
                    <select required id="dDifficulty" name = "difficulty" >
                        <option selected="selected" disabled="disabled">Select a Difficulty</option>

                        {% for entry in difficulty %}
                            <option value="{{ entry }}">{{ entry }}</option>
                        {% endfor %}
                    </select>

                        <p><br></p>
                        <input type="text" id="searchBox" list="json-datalist" class="input-medium" name="query"
                               placeholder="Search..." >
                    <datalist id="json-datalist"></datalist>

                    <input type="submit" class="btn" value="Add" >





                </form>

                <p><br></p>

                <button type="button" onclick="scrollWin()" class="btn btn-primary" href="search.html">
                    <a href="search">Show All Questions</a>
                </button>
            </div>
        </div>
    </div>
</header>

<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3><span style="color: #18BC9C">Developed by the Djangonauts</span></h3>
                </div>
            </div>
        </div>
    </div>
</footer>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script src="{% static 'problemfinder/js/jquery.min.js' %}"></script>
<script src="{% static 'problemfinder/js/bootstrap.min.js' %}"></script>
<script src="{% static 'problemfinder/js/custom.js' %}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
</body>
</html>