{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Finding Problems</title>


    {# Importing CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'problemfinder/css/custom.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'problemfinder/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'problemfinder/css/freelancer.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'problemfinder/font-awesome/font-awesome.min.css' %}"/>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- PYTHON - Add later in correct area -->
{#    this is all me showing what django does#}
{#    {% if question_list %}#}
{#    <ul>#}
{#    {% for question in question_list %}#}
{#        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#    {% else %}#}
{#        <p>No polls are available.</p>#}
{#    {% endif %}#}

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/FPServer">Finding Problems</a>
        </div>
        {#   <a class="bottom-right pull-right" href="/admin/">Login</a> #}

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="/admin/">Login</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container" align="center">
        <div class="row">
            <div class="col-lg">

                <div class="intro-text">
                    <span class="name">Search For Question</span>
                    <hr class="star-light">
                    <span class="skills">Difficulty - Algorithm - Language</span>
                </div>

                <p><br><br></p>

                {#  DROPDOWNS  #}
                <!-- Difficulty dropdown menu -->

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        Difficulty
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Easy</a></li>
                        <li><a href="#">Moderate</a></li>
                        <li><a href="#">Hard</a></li>
                        <li><a href="#">Kamikaze</a></li>
                    </ul>
                </div>

                <!-- Language choice dropdown menu -->

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Language
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <li><a href="#">Python</a></li>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">C#</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Add new language...</a></li>
                    </ul>

                </div>

                <p><br></p>

                {#  SEARCH BAR  #}
                <div class="search" align="center">
                    <div class="input-group" align="center">
                        <input type="text" class="form-control" placeholder="search keyword(s) here">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>

                <p><br></p>

                {# ADD NEW QUESTION BUTTON #}
                <button type="button" class="btn btn-primary" href="search.html">
                    <a href="search">ADD TO LIST</a>
                </button>


            </div>
        </div>
    </div>
</header>


<section>
    <div class="container">
        <p><br></p>

        <h3>These are the questions returned from django</h3>


        <div class="answerRow">
        {%  block content %}
            {% for question in object_list %}
                <h3>{{ question }} </h3>
            {%  endfor %}
        {% endblock %}
        </div>

    </div>
</section>
<section>
<div class="container">
    <p><br></p>
    <div class="row">

            <div class="answerRow">
                                <h4 align="left">Iron Man</h4>
                                <p>Tony Stark is playing a game with his suits (they have auto-pilot now). He lives in Malibu. Malibu has n junctions numbered from 1 to n, connected with n - 1 roads. One can get from a junction to any other junction using these roads (graph of Malibu forms a tree).

                                    Tony has m suits. There's a special plan for each suit. The i-th suit will appear at the moment of time ti in the junction vi, and will move to junction ui using the shortest path between vi and ui with the speed ci roads per second (passing a junctions takes no time), and vanishing immediately when arriving at ui (if it reaches ui in time q, it's available there at moment q, but not in further moments)....</p>
                                <a>See More</a><p></p>
                                <a>Add to Worksheet</a>
                            </div>
        </div>

    <p><br></p>

            <div class="row">
                            <div class="answerRow">
                                <h4 align="left">Road To Post Office</h4>
                                <p>Vasiliy has a car and he wants to get from home to the post office. The distance which he needs to pass equals to d kilometers.

                                    Vasiliy's car is not new — it breaks after driven every k kilometers and Vasiliy needs t seconds to repair it. After repairing his car Vasiliy can drive again (but after k kilometers it will break again, and so on). In the beginning of the trip the car is just from repair station.

                                    To drive one kilometer on car Vasiliy spends a seconds, to walk one kilometer on foot he needs b seconds (a < b).</p>
                                <a>See More</a><p></p>
                                <a>Add to Worksheet</a>
                            </div>
                </div>

    <p><br></p>

            <div class="row">
                            <div class="answerRow">
                                <h4 align="left">Cellular Network</h4>
                                <p>You are given n points on the straight line — the positions (x-coordinates) of the cities and m points on the same line — the positions (x-coordinates) of the cellular towers. All towers work in the same way — they provide cellular network for all cities, which are located at the distance which is no more than r from this tower.</p>
                                <a>See More</a><p></p>
                                <a>Add to Worksheet</a>
                            </div>
                </div>
    <p><br></p>
</div>

</section>


<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">

                    {#  Add footer content#}

                </div>
                <div class="footer-col col-md-4">

                    {#  Add footer content#}
                    <h3>Footer</h3>

                </div>
                <div class="footer-col col-md-4">

                    {#  Add footer content#}

                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; UCT Finding Problems 2016
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src="{% static 'problemfinder/js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'problemfinder/js/bootstrap.min.js' %}"></script>

<script src="{% static 'problemfinder/js/custom.js' %}"></script>


<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/contact_me.js' %}"></script>

<!-- Theme JavaScript -->
<script src="{% static 'js/freelancer.min.js' %}"></script>

</body>

</html>