{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Finding Problems</title>


    {# Importing CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'problemfinder/css/custom.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'problemfinder/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'problemfinder/css/freelancer.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'problemfinder/font-awesome/font-awesome.min.css' %}"/>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  <script type="text/javascript">
      function moveWin()
      {
        window.scroll(0,654);

      }
      </script>
</head>

<body id="page-top" class="index" onLoad="moveWin();">

<!-- PYTHON - Add later in correct area -->
{#    this is all me showing what django does#}
{#    {% if question_list %}#}
{#    <ul>#}
{#    {% for question in question_list %}#}
{#        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#    {% else %}#}
{#        <p>No polls are available.</p>#}
{#    {% endif %}#}

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/FPServer">Finding Problems</a>
        </div>
        {#   <a class="bottom-right pull-right" href="/admin/">Login</a> #}

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="/admin/">Login</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<!-- Header -->
<header>
    <div class="container" align="center">
        <div class="row">
            <div class="col-lg">

                <div class="intro-text">
                    <span class="name">Search For Question</span>
                    <hr class="star-light">
                    <span class="skills">Difficulty - Algorithm - Language</span>
                </div>

                <p><br><br></p>

                {#  DROPDOWNS  #}
                <!-- Difficulty dropdown menu -->

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        Difficulty
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Easy</a></li>
                        <li><a href="#">Moderate</a></li>
                        <li><a href="#">Hard</a></li>
                        <li><a href="#">Kamikaze</a></li>
                    </ul>
                </div>

                <!-- Language choice dropdown menu -->

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Language
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <li><a href="#">Python</a></li>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">C#</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Add new language...</a></li>
                    </ul>
                </div>
                {#                <select id="dLanguages" name = "language">#}
{#                    <option value="%">Language</option>#}
{#                    {% for entry in languages %}#}
{#                        <option value="{{ entry.title }}">{{ entry.tags.name }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{##}
{#                <select id="dDifficulty" name = "difficulty" >#}
{#                    <option value="%">Difficulty</option>#}
{#                    {% for entry in difficulty %}#}
{#                        <option value="{{ entry.id }}">{{ entry.name }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{##}


                {#  SEARCH BAR  #}
{#                <div class="search" align="center">#}
{#                    <form method = "get">#}
{#                    <div class="input-group" align="center">#}
{#                        <input type="text" class="form-control" id="document" placeholder="search keyword(s) here">#}
{#                        <span input type ="submit" class="input-group-btn" href="search">#}
{#                            <button href="search" class="btn btn-default" type="button">Go!</button>#}
{#                        </span>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}



               <form method="get" action="search" >
                    <input type="text" id="searchBox" class="input-medium" name="q" placeholder="Search..." required>
                    <input type="submit" class="btn" value="Search" >
                </form>

                <p><br></p>


                <button type="button" class="btn btn-primary" href="search.html">
                    <a href="search">Show All Questions</a>
                </button>

            </div>
        </div>
    </div>
</header>


<section>
    <div class="container">
        <p><br></p>
        <h3 class="searchTitle">Search Results</h3>
        <p style="font-size:18px !important;" class="searchTitle">You searched for: {{ query }} <p><br></p></p>

        {%  block content %}

                {% if not question_list %}
                    <div class="answerRow">
                     <h5>Unfortunately no questions were found for you search criteria :(</h5>
                    </div>
                {% endif %}

                {% for question in question_list %}
                    <p></p>
                    <div class="answerRow">
                     <h5>{{ question.title }}</h5>
                    <p style="text-align:left;float:right;">{{ question.tags }}</p>

                    {% if question.question_URL %}
                        <a target="_blank" href="{{ question.question_URL }}">{{ question.question_URL }} </a>
                        <p>{{ question.question_text }}</p>
                    {% endif %}

                    {% if question.question_PDF %}
                        <a target="_blank" href="{{ question.question_PDF }}pdf fuck">{{ question.question_PDF }} </a>
                        <p>{{ question.question_text }}</p>
                    {% endif %}

                    {% if not question.question_PDF and not question.question_URL %}
                        <a target="_blank" href="{{ question.question_PDF }}">{{ question.question_PDF }} </a>
                        <p>{{ question.question_text }}</p>
                    {% endif %}


                    <p><br></p>
                    </div>
                {%  endfor %}
        {% endblock %}

    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">

                    {#  Add footer content#}

                </div>
                <div class="footer-col col-md-4">

                    {#  Add footer content#}
                    <a href="#top" class="btn btn-primary btn-lg " role="button" >Hide Results</a>

                </div>
                <div class="footer-col col-md-4">

                    {#  Add footer content#}

                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; UCT Finding Problems 2016
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src="{% static 'problemfinder/js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'problemfinder/js/bootstrap.min.js' %}"></script>

<script src="{% static 'problemfinder/js/custom.js' %}"></script>


<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/contact_me.js' %}"></script>

<!-- Theme JavaScript -->
<script src="{% static 'js/freelancer.min.js' %}"></script>

</body>

</html>